#authentication {
  background: #eee;
}

#authentication section#wrapper {
  background: none;
}

#authentication #content {
  margin: 0;
}

#authentication .page-header {
  background-color: #006650;
  color: #fff;
  padding: 12px 20px;
}

#authentication .page-header,
#authentication h1.h1 {
  margin: 0;
  font-weight: 700;
}

#authentication #content-wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0;
}

#authentication #content-wrapper #main {
  border: 2px solid #006650;
  border-radius: 10px;
}

#authentication .no-account,
#authentication hr {
  display: none;
}

@media screen and (min-width: 992px) {
  #authentication {
    position: relative;
  }
  #authentication #content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #authentication #content-wrapper::before {
    content: url("../../../../img/logo.png");
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
  }
}
